{% load static %}

<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<title>{% block title %}Pilot{% endblock %}</title>

</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <span><a href="#"><h5> English </h5></a></span>
      </div>
      <div class="col-md-8 text-center">
        <span><h4>The Pilot design of the Home Page</h4></span>
      </div>
      <div class="col-md-2 ">
          <a href="#" class="fa fa-facebook" style="padding: 20px;"></a>
          <a href="#" class="fa fa-twitter" style="padding: 20px;"></a>
          <a href="#" class="fa fa-instagram" style="padding: 20px;"></a>
      </div>
    </div>  
      <nav class="navbar navbar-expand-lg navbar-light bg-primary" width=100% >
        <a href="{% url 'blogapp:home' %}" class="pull-left"><img src="/static/images/earth.png" class=" width ="30%" height="30"></a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block home %}{% endblock %}">
              <a class="nav-link" href="{% url 'blogapp:home' %}">Home </a>
            </li>
            <li class="nav-item{% block studentlist %}{% endblock %}">
              <a class="nav-link" href="{% url 'blogapp:studentlist' %}">StudentList</a>
            </li>
             <li class="nav-item {% block booklist %}{% endblock %}">
              <a class="nav-link" href="{% url 'blogapp:booklist'%}">BookList</a>
            </li>
            <li class="nav-item {% block movielist %}{% endblock %}">
              <a class="nav-link" href="{% url 'blogapp:movielist'%}">Movies</a>
            </li>
            <li class="nav-item {% block about %}{% endblock %}">
              <a class="nav-link" href="{% url 'blogapp:about'%}">About</a>
            </li>
            <li class="nav-item active {% block contact %}{% endblock %}">
              <a class="nav-link" href="{% url 'blogapp:contact'%}">Contact </a>
            </li>
          </ul>
            <form class="form-inline my-2 my-lg-0"  action="{% url 'blogapp:searchresult' %}"method="get" accept-charset="utf-8">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
            </form>
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="{% url 'blogapp:login' %}"> Login
           </button>
        </div>
      </nav>
    
  
  <div class="row">

    <h2>
      {% if request.user.is_authenticated %}
      <h2>Logged in as: </h2>
      {{ request.user.username }}<br>
      <a href="{% url 'blogapp:logout' %}">Logout</a>
      {% else %}
   <!--    <a href="{% url 'blogapp:login' %}">Login</a> -->
      {% endif %}
      {% block content %}

      {% endblock %}
    </h2>
  </div>
</div>
 




<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>

<script>
// Get the video
var video = document.getElementById("myVideo");

// Get the button
var btn = document.getElementById("myBtn");

// Pause and play the video, and change the button text
function myFunction() {
  if (video.paused) {
    video.play();
    btn.innerHTML = "Pause";
  } else {
    video.pause();
    btn.innerHTML = "Play";
  }
}
</script>
</body>
</html>