{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Base1</title>
	<style type="text/css">ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

		ul{
			list-style-type: none;
			padding: 10px;
			margin:5px;
			display: inline;
		}
		nav{
			padding: 5px;
			width: 100%;
		/*	display: inline;*/

		}
		nav ul{
			float:left;
			display: inline;
		}
		nav ul li{
			float:left;
			display: inline;
		}
		nav ul li a{
			float: left;
			display: inline;
			padding: 8px;
  			background-color: #333;
		}
		a{
			display:block;
			padding: 5px;
			/*background-color: rgb(199, 55, 55);*/
		}
	</style>

</head>
<body>
<div class="con">
	<!-- <div class="row">
		<div class="col-md-3">
			<img src="/static/images/earth.png" class=" width ="30%" height="30"">
		</div>
		<div class="col-md-7"><h3>This is the home page</h3>
		</div>
		<div class="col-md-2">
			<ul>
				<a href="#" class="fa fa-facebook"></a>
          		<a href="#" class="fa fa-twitter"></a>
          		<a href="#" class="fa fa-instagram"></a>
			</ul>
		</div>
	</div> -->
	<nav>
		<ul>
			<li><h4><a href="#"> Home</a></h4></li>
			<li><h4><a href="#"> Services</a></h4></li>
			<li><h4><a href="#">Location</a></h4></li>
			<li><h4><a href="#">About us</a></h4></li>
		</ul>
		</nav>
	</div>
	<div class="row">
			<h1>This is the slider</h1>
	</div>

	<div class="row">
		
	<div class="col-md-3">
		<h1>fdsf</h1>
	</div>
	<div class="col-md-7">
		<h1>fdgdfgdf</h1>
	</div>
	<div class="col-md-2">
		<h2>frfgdf</h2>
	</div>


	</div>



	<div class="row">
		<div class="col-md-3">
			<p>content1</p>
		</div>
		<div class="col-md-7">
			<p>content2</p>
		</div>
		<div class="col-md-2">
			<h3>content3</h3>
		</div>

	</div>
	<div class="footer">
			This is the footer
	</div>
</div>
</body>
</html>