{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<h3>Book Registration Form </h3>
<form method = "POST" enctype="multipart/form-data">
{% csrf_token %}

{{form.as_p}}
<button>Create</button>
</form>
{% endblock %}