{% extends 'base.html' %}
{% load static %}
{% block home %}active{% endblock %}
{% block content %}
<div class="table-responsive">
  <table class="table">
    <thead class="table-primary">
       	<tr>
    		<th>SN</th>
    		<th>Name</th>
    		<th>Author</th>
    		<th>Published Date</th>
    		<th>Edition</th>
    		<th>Image</th>
            <th>Action</th>
    	</tr>
    </thead>
    <tbody>
    {% for book in booklist %}
    <tr>
    	<td>{{forloop.counter}}</td>
    	<td><a href="{% url 'blogapp:bookdetail' book.id %}">{{book.name}}</a></td>
    	<td>{{book.author}}</td>
    	<td>{{book.published_date}}</td>
    	<td>{{book.edition}}</a></td>
    	<td><img src="{{book.image.url}}" class="img-fluid" width="200px"></td>
        <td><a href="{% url 'blogapp:bookupdate' book.id %}"> Update</a></td
    </tr>
    </tr>
    {% endfor %}	
    </tbody>
  </table>
</div>
{% endblock %}