{% extends 'base.html' %}
{% load static %}



{% block content %}

<h3>Login Form</h3>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
  {% if errors %}
  <li>{{errors}}</li>
  {% endif %}
</form>
{% endblock %}



