{% extends 'base.html' %}
{% load static %}
{% block home %}active{% endblock %}
{% block content %}
 <div class="container-fluid">
	<table class="table table-striped table-bordered">
		<thead class="table-primary">
           	<tr>
        		<th>SN.</th>
        		<th>Name</th>
        		<th>Director</th>
        		<th>Releasae Date</th>
        		<th>Actors</th>
        		<th>Rating</th>
        		<th>Language</th>
        		<th>Runtime</th>
        		<th>Genre</th>
        		<th>Poster</th>
                <th>Action</th>
        	</tr>
    	</thead>
    	<tbody>
        	{% for movie in movielist %}
        	<tr>
                <td>{{forloop.counter}}</td>
            	<td><a href="{% url 'blogapp:moviedetail' movie.id %}">{{movie.name}}</a></td>
        		<td>{{movie.director}}</td>
        		<td>{{movie.release_date}}</td>
        		<td>{{movie.actor}}</td>
        		<td>{{movie.rating}}</td>
        		<td>{{movie.language}}</td>
        		<td>{{movie.run_time}}</td>
        		<td>{{movie.genre_choices}}</td>
        		<td><img src="{{movie.poster.url}}" class="img-fluid" width="200px"></td>
        		<td><a href="{% url 'blogapp:movieupdate' movie.id %}"> Update</a></td>
         	</tr>
            {% endfor %}
	   </tbody>
	</table>
</div>

{% endblock %}