{% extends 'base.html' %}
{% load static %}
{% block content %}
<p>{{movie.id}}</p>
<p>{{movie.name}}</p>
<p>{{movie.director}}</p>
<p>{{movie.release_date}}</p>
<li>{{movie.actor}}</li>
<li>{{movie.run_time}}</li>
<li>{{movie.writer}}</li>
<li>{{movie.created_date}}</li>
<li>{{movie.runtime}}</li>
<li>{{movie.language}}</li>
<li>{{movie.rating}}</li>
<p><img src="{{movie.poster.url}}" class="img-fluid" width="200px">/p>
{% endblock %}