{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for news in news%}
<tr>
      <th scope="col">{{news.language}}</th>
<!-- 	  <th scope="col">{{news.title}}</th>
      <th scope="col">{{news.content}}</th>
      <th scope="col">{{news.image}}</th>
      <th scope="col"><img src="{{news.image.url}}" class="img-fluid" width="600px" height="400x"></th> -->
</tr>
{% endfor %}
{% endblock %}