{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if slist %}
<ul>
	{% for student in slist %}
	<li><a href="{% url 'blogapp:studentdetail' student.id %}">{{student.name}} </a></li>
	{% endfor %}
</ul>
{% else %}
<p>Nothing matched your search criteria.</p>
{% endif %}
{% endblock %}