<!DOCTYPE html>
<html>
<head>
	<title>Story</title>
</head>
<body>
<li> <a href="{%url 'blogapp:story'%}">Story</a></li>
<li><a href="{%url 'blogapp:service'%}">Services</a></li>
<li><a href="{%url 'blogapp:contact'%}">Contact</a></li>
<li><a href="{%url 'blogapp:home'%}">Home</a></li>
<h3>This is the STory page.</h3>
</body>
</html>