{% extends 'base.html' %}
{% load static %}

{% block home %}active{% endblock %}
{% block content %}

<button> <a href="{% url 'blogapp:studentcreate' %}">Create</a></button>

<table id="examplea" class="table table-striped table-bordered" style="width:100%">
  <thead class="thead-dark">
    <tr>
      <th>SN.</th>
   
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Grade</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for student in studentlist %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td><a href="/student/{{student.id}}/detail/">{{student.name}}</a></td>  <!-- #use of student ID -->
      <td><a href="{% url 'blogapp:studentdetail' student.id %}">{{student.address}}</a></td>
      <td><a href="{% url 'blogapp:studentdetail' student.grade %}">{{student.grade}}</a></td>
      <td><img src="{{student.image.url}}" class="img-fluid" width="200px"></td>
      <td>
        <a href="{% url 'blogapp:studentdelete' student.id %}">Delete</a>
        <a href="{% url 'blogapp:studentupdate' student.id %}">Update</a>
      </td>
    </tr>
	{% endfor %}
    </tbody>
</table>
{% endblock %}


{% block js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sl-1.2.6/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>

<script type="text/javascript">
	$(document).ready(function() 
	{
    	$('#example').DataTable({
    		dom: 'B<"clear">lfrtip',
    		buttons:{
    			name: 'primary',
    			buttons: ['copy','csv','pdf']
    		}
    	});
	} );
</script>	
{% endblock %}
