{% extends 'base.html' %}
{% load static %}

{% block content %}
<tr>
      <th scope="col">{{student.id}}</th>
      <th scope="col">{{student.name}}</th>
      <th scope="col">{{student.address}}</th>
      <th scope="col"><img src="{{student.image.url}}" class="img-fluid" width="200px"></th>
</tr>
{% endblock %}
